Normalization and Standardization are tow methods used in preprocessing of data which are a part of feature scaling 
Feature Scaling is used to Sacle the feature into similaar scale for easer understanding of data
Normaalization Data are in range of [0,1] ,unit sacling is done here 
Standardization -the mean of each feature is reduced to 0 and std devn is made as 1 ,

SUMMARY FROM CHATGPT
Feature Scaling in SciKit-Learn (Normalization vs Standardization) ‚Äì Key Points
1. Importance of Feature Scaling
Machine learning models perform better when features are on a similar scale.

Prevents features with larger values from dominating the learning process.

2. Normalization
Formula: 
ùëã‚Ä≤=ùëã‚àíùëãmin\‚Å°(ùëãmax‚àíùëãmin)
‚Å°
X ‚Ä≤= X max‚àíX min \X‚àíX min
‚Äã
 
‚ÄãScales data to [0,1] or [-1,1] range.

Best for:

When data does not follow a Gaussian distribution.

Algorithms like KNN, K-Means, and Neural Networks.

3. Standardization
Formula: 
ùëã‚Ä≤=ùëã‚àíùúá\ùúé
X ‚Ä≤= œÉ\X‚àíŒº
‚Äã
 

Transforms data to have mean = 0 and standard deviation = 1.

Best for:

When data follows a Gaussian distribution.

Algorithms like Linear Regression, Logistic Regression, SVM, and PCA.

4. When to Use Which?
Use Normalization ‚Üí When data range varies a lot (Min-Max Scaling).

Use Standardization ‚Üí When data is normally distributed or required by an algorithm.

Key Takeaways
‚úÖ Normalization ‚Üí Rescales to [0,1], useful for non-Gaussian data.
‚úÖ Standardization ‚Üí Mean = 0, Std = 1, useful for Gaussian data.
‚úÖ Use SciKit-Learn‚Äôs MinMaxScaler for Normalization & StandardScaler for Standardization.

In [1]:
import numpy as np 
import pandas as pd 
df=pd.read_csv("500hits.csv",encoding="latin-1")
df.head()

,PLAYER,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,CS,BA,HOF
0,Ty Cobb,24,3035,11434,2246,4189,724,295,117,726,1249,357,892,178,0.366,1
1,Stan Musial,22,3026,10972,1949,3630,725,177,475,1951,1599,696,78,31,0.331,1
2,Tris Speaker,22,2789,10195,1882,3514,792,222,117,724,1381,220,432,129,0.345,1
3,Derek Jeter,20,2747,11195,1923,3465,544,66,260,1311,1082,1840,358,97,0.310,1
4,Honus Wagner,21,2792,10430,1736,3430,640,252,101,0,963,327,722,15,0.329,1

In [4]:
df=df.drop(columns=['PLAYER','CS'],axis=1)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 465 entries, 0 to 464
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   YRS     465 non-null    int64
 1   G       465 non-null    int64
 2   AB      465 non-null    int64
 3   R       465 non-null    int64
 4   H       465 non-null    int64
 5   2B      465 non-null    int64
 6   3B      465 non-null    int64
 7   HR      465 non-null    int64
 8   RBI     465 non-null    int64
 9   BB      465 non-null    int64
 10  SO      465 non-null    int64
 11  SB      465 non-null    int64
 12  BA      465 non-null    float64
 13  HOF     465 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 51.0 KB

In [6]:
df.describe

<bound method NDFrame.describe of      YRS     G     AB     R     H   2B   3B   HR   RBI    BB    SO   SB  \
0     24  3035  11434  2246  4189  724  295  117   726  1249   357  892
1     22  3026  10972  1949  3630  725  177  475  1951  1599   696   78
2     22  2789  10195  1882  3514  792  222  117   724  1381   220  432
3     20  2747  11195  1923  3465  544   66  260  1311  1082  1840  358
4     21  2792  10430  1736  3430  640  252  101     0   963   327  722
..   ...   ...    ...   ...   ...  ...  ...  ...   ...   ...   ...  ...
460   15  1920   6653  1105  1665  285   39  291   964  1224  1427  225
461   17  1829   6092   900  1664  379   10  275  1065   936  1453   20
462   15  1834   6499  1062  1661  338   67  210   761   960  1190  315
463   16  1822   6309   714  1660  254   25   54   593   396   489   74
464   15  1468   5629   785  1660  247   71   61   499   266   471  267

        BA  HOF
0    0.366    1
1    0.331    1
2    0.345    1
3    0.310    1
4    0.329    1
..     ...  ...
460  0.250    0
461  0.273    0
462  0.256    0
463  0.263    0
464  0.295    0

[465 rows x 14 columns]>

In [7]:
x1=df.iloc[:,0:13]

In [8]:
x2=df.iloc[:,0:13]

In [9]:
from sklearn.preprocessing import StandardScaler
scaleStd=StandardScaler()

In [10]:
x1=scaleStd.fit_transform(x1)

In [11]:
x1=pd.DataFrame(x1,columns=['YRS','G','AB','R','R','2B','3B','HR','RBI','BB','SO','SB','BA'])

In [13]:
x1.head()

,YRS,G,AB,R,R,2B,3B,HR,RBI,BB,SO,SB,BA
0,2.516295,2.786078,3.034442,3.787062,4.764193,3.559333,4.389485,-0.585841,-0.346449,1.423013,-1.003628,3.832067,3.648290
1,1.792237,2.760655,2.677044,2.760530,3.444971,3.569709,1.996457,1.909487,2.175837,2.493089,-0.309948,-0.649080,1.996159
2,1.792237,2.091184,2.075964,2.528955,3.171214,4.264876,2.909053,-0.585841,-0.350567,1.826585,-1.283965,1.299723,2.657012
3,1.068180,1.972543,2.849554,2.670665,3.055576,1.691719,-0.254611,0.410896,0.858071,0.912434,2.030966,0.892346,1.004881
4,1.430208,2.099658,2.257758,2.024329,2.972977,2.687780,3.517449,-0.697364,-1.841290,0.548609,-1.065016,2.896201,1.901752

In [14]:

x1.describe

<bound method NDFrame.describe of           YRS         G        AB         R         R        2B        3B  \
0    2.516295  2.786078  3.034442  3.787062  4.764193  3.559333  4.389485
1    1.792237  2.760655  2.677044  2.760530  3.444971  3.569709  1.996457
2    1.792237  2.091184  2.075964  2.528955  3.171214  4.264876  2.909053
3    1.068180  1.972543  2.849554  2.670665  3.055576  1.691719 -0.254611
4    1.430208  2.099658  2.257758  2.024329  2.972977  2.687780  3.517449
..        ...       ...       ...       ...       ...       ...       ...
460 -0.741964 -0.363545 -0.664093 -0.156620 -1.192368 -0.995570 -0.802168
461 -0.017907 -0.620600 -1.098077 -0.865170 -1.194728 -0.020260 -1.390285
462 -0.741964 -0.606476 -0.783226 -0.305243 -1.201808 -0.445661 -0.234331
463 -0.379936 -0.640373 -0.930208 -1.508049 -1.204168 -1.317215 -1.086086
464 -0.741964 -1.640344 -1.456250 -1.262649 -1.204168 -1.389844 -0.153211

           HR       RBI        BB        SO        SB        BA
0   -0.585841 -0.346449  1.423013 -1.003628  3.832067  3.648290
1    1.909487  2.175837  2.493089 -0.309948 -0.649080  1.996159
2   -0.585841 -0.350567  1.826585 -1.283965  1.299723  2.657012
3    0.410896  0.858071  0.912434  2.030966  0.892346  1.004881
4   -0.697364 -1.841290  0.548609 -1.065016  2.896201  1.901752
..        ...       ...       ...       ...       ...       ...
460  0.626972  0.143595  1.346579  1.185863  0.160169 -1.827343
461  0.515449  0.351555  0.466060  1.239066 -0.968376 -0.741657
462  0.062387 -0.274384  0.539436  0.700901  0.655627 -1.544120
463 -1.024962 -0.620298 -1.184914 -0.733523 -0.671101 -1.213694
464 -0.976171 -0.813845 -1.582371 -0.770355  0.391383  0.296825

[465 rows x 13 columns]>

In [ ]:
from sklearn.preprocessing import MinMaxScaler
sacleminmax=MinMaxScaler()
#sacleminmax=MinMaxScaler(feature_range=(0,1))

In [16]:
x2=sacleminmax.fit_transform(x2)

In [17]:
x2=pd.DataFrame(x1,columns=['YRS','G','AB','R','R','2B','3B','HR','RBI','BB','SO','SB','BA'])

In [18]:
x2.head

<bound method NDFrame.head of           YRS         G        AB         R         R        2B        3B  \
0    2.516295  2.786078  3.034442  3.787062  4.764193  3.559333  4.389485
1    1.792237  2.760655  2.677044  2.760530  3.444971  3.569709  1.996457
2    1.792237  2.091184  2.075964  2.528955  3.171214  4.264876  2.909053
3    1.068180  1.972543  2.849554  2.670665  3.055576  1.691719 -0.254611
4    1.430208  2.099658  2.257758  2.024329  2.972977  2.687780  3.517449
..        ...       ...       ...       ...       ...       ...       ...
460 -0.741964 -0.363545 -0.664093 -0.156620 -1.192368 -0.995570 -0.802168
461 -0.017907 -0.620600 -1.098077 -0.865170 -1.194728 -0.020260 -1.390285
462 -0.741964 -0.606476 -0.783226 -0.305243 -1.201808 -0.445661 -0.234331
463 -0.379936 -0.640373 -0.930208 -1.508049 -1.204168 -1.317215 -1.086086
464 -0.741964 -1.640344 -1.456250 -1.262649 -1.204168 -1.389844 -0.153211

           HR       RBI        BB        SO        SB        BA
0   -0.585841 -0.346449  1.423013 -1.003628  3.832067  3.648290
1    1.909487  2.175837  2.493089 -0.309948 -0.649080  1.996159
2   -0.585841 -0.350567  1.826585 -1.283965  1.299723  2.657012
3    0.410896  0.858071  0.912434  2.030966  0.892346  1.004881
4   -0.697364 -1.841290  0.548609 -1.065016  2.896201  1.901752
..        ...       ...       ...       ...       ...       ...
460  0.626972  0.143595  1.346579  1.185863  0.160169 -1.827343
461  0.515449  0.351555  0.466060  1.239066 -0.968376 -0.741657
462  0.062387 -0.274384  0.539436  0.700901  0.655627 -1.544120
463 -1.024962 -0.620298 -1.184914 -0.733523 -0.671101 -1.213694
464 -0.976171 -0.813845 -1.582371 -0.770355  0.391383  0.296825

[465 rows x 13 columns]>

In [20]:
x2.describe

<bound method NDFrame.describe of           YRS         G        AB         R         R        2B        3B  \
0    2.516295  2.786078  3.034442  3.787062  4.764193  3.559333  4.389485
1    1.792237  2.760655  2.677044  2.760530  3.444971  3.569709  1.996457
2    1.792237  2.091184  2.075964  2.528955  3.171214  4.264876  2.909053
3    1.068180  1.972543  2.849554  2.670665  3.055576  1.691719 -0.254611
4    1.430208  2.099658  2.257758  2.024329  2.972977  2.687780  3.517449
..        ...       ...       ...       ...       ...       ...       ...
460 -0.741964 -0.363545 -0.664093 -0.156620 -1.192368 -0.995570 -0.802168
461 -0.017907 -0.620600 -1.098077 -0.865170 -1.194728 -0.020260 -1.390285
462 -0.741964 -0.606476 -0.783226 -0.305243 -1.201808 -0.445661 -0.234331
463 -0.379936 -0.640373 -0.930208 -1.508049 -1.204168 -1.317215 -1.086086
464 -0.741964 -1.640344 -1.456250 -1.262649 -1.204168 -1.389844 -0.153211

           HR       RBI        BB        SO        SB        BA
0   -0.585841 -0.346449  1.423013 -1.003628  3.832067  3.648290
1    1.909487  2.175837  2.493089 -0.309948 -0.649080  1.996159
2   -0.585841 -0.350567  1.826585 -1.283965  1.299723  2.657012
3    0.410896  0.858071  0.912434  2.030966  0.892346  1.004881
4   -0.697364 -1.841290  0.548609 -1.065016  2.896201  1.901752
..        ...       ...       ...       ...       ...       ...
460  0.626972  0.143595  1.346579  1.185863  0.160169 -1.827343
461  0.515449  0.351555  0.466060  1.239066 -0.968376 -0.741657
462  0.062387 -0.274384  0.539436  0.700901  0.655627 -1.544120
463 -1.024962 -0.620298 -1.184914 -0.733523 -0.671101 -1.213694
464 -0.976171 -0.813845 -1.582371 -0.770355  0.391383  0.296825

[465 rows x 13 columns]>