SUMMARY FORM CHATGPT OFA AN YOUTUBE VIDEO ON SKLEARN 

Train-Test Split in Scikit-Learn – Key Points
1. Why Train-Test Split?
Used to evaluate machine learning models on unseen data.

Training Set → Used to train the model.

Test Set → Used to check model performance.
2. code

Key Parameters:

test_size=0.2 → 20% of data for testing.

random_state=42 → Ensures reproducibility.

shuffle=True (default) → Shuffles data before splitting.

3. Choosing the Right Test Size
Common split: 80% Train, 20% Test (sometimes 70-30 or 90-10).

For large datasets, even 10% test size can be sufficient.

4. Stratified Splitting (For Classification Problems)
Maintains class distribution in train & test sets.

Use stratify=y to ensure balanced class proportions:

code

5. Key Takeaways
✅ Splitting data ensures unbiased model evaluation.
✅ Use random_state for reproducibility.
✅ For classification, use stratify=y to maintain class balance.
✅ Test size usually ranges from 10% to 30% of the dataset.

In [1]:
import pandas as pd

In [2]:
from sklearn.model_selection import train_test_split

In [3]:
df=pd.read_csv("500hits.csv",encoding="latin-1")

In [4]:
df.head()

,PLAYER,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,CS,BA,HOF
0,Ty Cobb,24,3035,11434,2246,4189,724,295,117,726,1249,357,892,178,0.366,1
1,Stan Musial,22,3026,10972,1949,3630,725,177,475,1951,1599,696,78,31,0.331,1
2,Tris Speaker,22,2789,10195,1882,3514,792,222,117,724,1381,220,432,129,0.345,1
3,Derek Jeter,20,2747,11195,1923,3465,544,66,260,1311,1082,1840,358,97,0.310,1
4,Honus Wagner,21,2792,10430,1736,3430,640,252,101,0,963,327,722,15,0.329,1

In [5]:
X=df.drop(columns=["PLAYER","HOF"])
y=df["HOF"]

In [7]:
X.head()

,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,CS,BA
0,24,3035,11434,2246,4189,724,295,117,726,1249,357,892,178,0.366
1,22,3026,10972,1949,3630,725,177,475,1951,1599,696,78,31,0.331
2,22,2789,10195,1882,3514,792,222,117,724,1381,220,432,129,0.345
3,20,2747,11195,1923,3465,544,66,260,1311,1082,1840,358,97,0.310
4,21,2792,10430,1736,3430,640,252,101,0,963,327,722,15,0.329

In [8]:
X.shape

(465, 14)

In [9]:
y.head()

0    1
1    1
2    1
3    1
4    1
Name: HOF, dtype: int64

In [10]:
y.shape

(465,)

In [11]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=11,test_size=0.2)

In [12]:
X_train.shape

(372, 14)

In [13]:
X_test.shape

(93, 14)

In [14]:
y_train.shape

(372,)

In [15]:
y_test.shape

(93,)

In [16]:
X_train.head()

,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,CS,BA
289,18,2028,7298,873,1993,284,40,325,1163,620,1313,20,38,0.273
288,13,1836,6826,856,1996,392,117,43,402,513,360,247,108,0.292
350,14,1799,6373,876,1854,282,64,49,630,844,627,37,51,0.291
196,17,2158,7911,1057,2276,414,92,94,844,690,784,246,138,0.288
184,19,2390,8570,1386,2369,420,65,244,1084,1197,1099,143,75,0.276

In [17]:
X_test.head()

,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,CS,BA
144,18,1884,6028,687,1692,324,45,28,734,931,277,29,35,0.281
296,18,2048,7129,941,1980,343,27,267,1111,567,1013,59,47,0.278
39,15,2055,8267,1284,2812,425,164,102,894,472,327,375,127,0.340
247,16,1982,7359,1004,2100,240,105,17,86,685,197,495,78,0.285
197,14,2099,7983,1125,2273,469,19,358,1363,655,984,125,47,0.285

In [18]:
X_train.describe

<bound method NDFrame.describe of      YRS     G    AB     R     H   2B   3B   HR   RBI    BB    SO   SB   CS  \
289   18  2028  7298   873  1993  284   40  325  1163   620  1313   20   38
288   13  1836  6826   856  1996  392  117   43   402   513   360  247  108
350   14  1799  6373   876  1854  282   64   49   630   844   627   37   51
196   17  2158  7911  1057  2276  414   92   94   844   690   784  246  138
184   19  2390  8570  1386  2369  420   65  244  1084  1197  1099  143   75
..   ...   ...   ...   ...   ...  ...  ...  ...   ...   ...   ...  ...  ...
337   17  1912  6787   926  1884  334   69  164   824   468  1266  312  134
91    25  2383  8618  1057  2309  391  143   34     0   774    79  201    2
80    18  1967  7363  1099  2376  339  182   68   671   484   260  268   92
191   19  2488  8723   993  2326  389   48  101   950   736  1186  321  109
409   14  1747  6192   903  1749  312   18  293  1086   838   798   37   26

        BA
289  0.273
288  0.292
350  0.291
196  0.288
184  0.276
..     ...
337  0.278
91   0.268
80   0.323
191  0.267
409  0.282

[372 rows x 14 columns]>

In [19]:
X_test.describe

<bound method NDFrame.describe of      YRS     G    AB     R     H   2B   3B   HR   RBI   BB    SO   SB   CS  \
144   18  1884  6028   687  1692  324   45   28   734  931   277   29   35
296   18  2048  7129   941  1980  343   27  267  1111  567  1013   59   47
39    15  2055  8267  1284  2812  425  164  102   894  472   327  375  127
247   16  1982  7359  1004  2100  240  105   17    86  685   197  495   78
197   14  2099  7983  1125  2273  469   19  358  1363  655   984  125   47
..   ...   ...   ...   ...   ...  ...  ...  ...   ...  ...   ...  ...  ...
259   15  1862  7158  1007  2074  332   40  151   874  553   719  224  104
451   13  1414  5472   818  1682  335   92   65   874  514   272   23   24
380   17  1852  6292   844  1796  264   62  213   976  561   477   38   13
74    16  2089  8225  1249  2452  373   79  382  1451  670  1423   58   34
31    19  2410  9106  1289  2884  476  172  132   608  650   559  205   49

        BA
144  0.281
296  0.278
39   0.340
247  0.285
197  0.285
..     ...
259  0.290
451  0.307
380  0.285
74   0.298
31   0.317

[93 rows x 14 columns]>